/* copyright @tarique */

@media screen and (max-width: 1200px) {
    .form-inline button {
        margin-left: 30px;
    }
    .navbar {
        padding: 5px 50px;
    }
    .why-takes3-left-text {
        margin-top: 10px;
    }
    .carousel-caption h4 {
        font-size: 38px;
        margin-top: 80px;
    }
    .donor-questionnaire {
        padding: 60px 40px 60px 0px;
    }
    .egg-donor-col-1 h1 {
        padding-left: 40px;
        font-size: 36px;
    }
    .egg-donor-col-1 strong {
        font-size: 36px;
    }
    .donor-login-form {
        padding: 40px 60px 50px 60px;
    }
    .request-login {
        padding-left: 100px;
    }
}
@media screen and (max-width: 1024px) {
    .form-inline button {
        margin-left: 30px;
    }
    .navbar-nav .nav-link {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }
    .navbar {
        padding: 5px 25px;
    }
    .bg-slider-img-1,.bg-slider-img-2,.bg-slider-img-3  {
        height: 600px;
    }
    .carousel-caption h4 {
        font-size: 34px;
        margin-top: 55px;
    }
    .become-donor-text {
        padding: 70px 100px 70px 100px;
    }
    .find-donor-text {
        padding: 70px 100px 70px 100px;
    }
    footer {
        padding: 40px 20px;
    }
    .why-takes3 {
        padding: 80px;
    }
    .find-donor {
        line-height: 1.8;
    }
    .main-form-sec {
        padding: 80px;
    }
    .donor-questionnaire {
        padding: 60px 0px 60px 0px;
    }
    .egg-donor-col-1 h1 {
        padding-left: 20px;
    }
    .donor-login {
        padding: 100px 0px 90px 0px;
    }
}
@media screen and (max-width: 991px) {
    .egg-donor-col-1 h1 {
        font-size: 32px;
        margin-bottom: 30px;
    }
    .progress .name {
        left: 50px;
    }
    .footer-nav-navbar {
        display: block !important;
    }
    .navbar-nav .nav-link {
        padding-left: 0 !important;
    }
    .form-inline {
        display: inline-block;
        width: 143px;
        text-align: center;
    }
    .form-inline button {
        margin-bottom: 10px;
    }
    .aerrow-box:after {
        top: 29px;
    }
    .top-btn {
        left: 0px;
    }
    .top-btn:after {
        left: 30px;
        top: -8px;
        right: unset;
    }
    .footer-logo {
        text-align: center;
    }
    .footer-nav-social li {
        display: inline-block;
        padding: 5px 20px;
    }
    .footer-social {
        text-align: center;
    }
    .footer-middle {
        text-align: center;
        display: table;
        margin: 0 auto;
    }
    .navbar-brand-footer {
        margin-bottom: 0px;
        display: block;
    }
    .form-inline button {
        margin-left: 0px;
    }
    .desktop-img{
        display: none;
    }
    .mobile-img{
        display: block;
    }
    .mobile-img-mid{
        display: block;
        margin: 0 auto;
    }
    .become-donor-text {
        padding: 0px 50px 70px 50px;
    }
    .find-donor-text {
        padding: 70px 100px 0px 100px;
    }
    .mobile-view-top-margin img{
        margin-top: 55px;
    }
    .inner-pages-nav {
        height: auto;
    }
    .donor-questionnaire {
        padding: 20px 10px 60px 0px;
    }
    .mobile-view-hide{
        display: none;
    }
    .request-login {
        padding-left: 50px;
    }
}

@media screen and (max-width: 768px) {
    .padding0 {
        padding: 0 15px !important;
    }
    .padding-left0 {
        padding: 0 15px !important;
    }
    .padding0-right0 {
        padding: 0 15px !important;
    }
    .footer-logo {
        text-align: center;
    }
    .footer-social {
        text-align: center;
    }
    .why-takes3 {
        padding: 45px 25px;
    }
    .become-donor-text {
        padding: 0px 25px 25px 25px;
        margin-top: -40px;
    }
    .become-donor-text h2 {
        font-size: 27px;
    }
    .find-donor-text {
        padding: 15px 25px 0px 25px;
        margin-bottom: -40px;
    }
    .find-donor-text h2 {
        font-size: 27px;
    }
    .carousel-caption h3 {
        font-size: 28px;
        margin-bottom: 0px;
        margin-top: 250px;
    }
    .navbar-brand {
        font-size: 60px;
    }
    .navbar-brand span {
        font-size: 40px;
        position: relative;
        top: -16px;
        left: -1px;
    }
    .carousel-caption h4 {
        font-size: 28px;
        margin-top: 15px;
        font-weight: 800;
    }
    .mobile-view-top-margin img {
        margin-top: 0px;
        width: 275px;
        margin-bottom: 15px;
        margin-left: 30px;
    }
    .bg-slider-img-1, .bg-slider-img-2, .bg-slider-img-3 {
        height: 720px;
        background-position: -1000px 0px;
    }
    .find-donor {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
    }
    .carousel-caption {
        padding-top: 5px;
    }
    .fa-angle-left {
        font-size: 30px;
        color: #574644;
        opacity: 0.9;
        background-color: #ebf1f394;
        padding: 1px 10px;
        border-radius: 50%;
        top: -40px;
        position: relative;
        left: -8px;
    }
    .fa-angle-right {
        font-size: 30px;
        color: #574644;
        opacity: 0.9;
        background-color: #ebf1f394;
        padding: 1px 10px;
        border-radius: 50%;
        top: -40px;
        position: relative;
        left: 8px;
    }
    ol.progress[data-steps="4"] li {
        width: 15%;
    }
    .progress .name {
        left: 30px;
        font-size: 12px;
    }
    .main-form-sec {
        padding: 45px 5px;
    }
    .egg-donor-col-1 h1 {
        padding-left: 10px;
        font-size: 40px;
    }
    .egg-donor-col-1 strong {
        font-size: 40px;
    }
    .egg-donor-col-2{
        padding-left: 10px;
    }
    .egg-donor-col-3{
        padding-left: 10px;
    }
    .green-leaves-questionnaire img {
        position: absolute;
        width: 150px;
        left: -15px;
        top: -370px;
    }
    .donor-questionnaire {
        margin-top: 350px;
    }
    .btn-group {
        display: inline-block;
    }
    .label-form span {
        font-size: 18px;
    }
    .outer-form-shadow {
        padding: 30px 18px;
    }
    .request-login {
        padding-left: 0px;
        padding: 0 20px;
    }
    .donor-login-form {
        padding: 40px 20px 50px 20px;
    }
    .login-new-user h2 {
        text-align: center;
    }
    .login-new-user p {
        text-align: center;
    }
    .donor-login {
        padding: 30px 0px 90px 0px;
    }
    .donor-login-form a {
        text-align: center;
        margin-top: 15px;
    }
    .donor-login-form button {
        display: block;
        padding: 10px 30px;
        margin-top: 10px;
        width: 180px;
        margin: 15px auto 0;
    }
    .form-control-login {
        text-align: center;
    }
    .request-login h2 {
        text-align: center;
        padding: 0 30px;
        font-size: 37px;
        font-weight: 800;
    }
    .donor-login-form h3 {
        text-align: center;
    }
    .login-new-user button {
        margin: 35px auto 0;
    }
}
