/* copyright @tarique */

@media screen and (max-width: 1200px) {
    .form-inline button {
        margin-left: 30px;
    }
    .navbar {
        padding: 5px 50px;
    }
    .why-takes3-left-text {
        margin-top: 10px;
    }
    .carousel-caption h4 {
        font-size: 38px;
        margin-top: 80px;
    }
    .donor-questionnaire {
        padding: 60px 40px 60px 0px;
    }
    .egg-donor-col-1 h1 {
        padding-left: 40px;
        font-size: 36px;
    }
    .egg-donor-col-1 strong {
        font-size: 36px;
    }
    .donor-login-form {
        padding: 40px 60px 50px 60px;
    }
    .request-login {
        padding-left: 100px;
    }
}

@media screen and (max-width: 1024px) {
    .form-inline button {
        margin-left: 30px;
    }
    .navbar-nav .nav-link {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }
    .navbar {
        padding: 5px 25px;
    }
    .bg-slider-img-1,
    .bg-slider-img-2,
    .bg-slider-img-3 {
        height: 600px;
    }
    .carousel-caption h4 {
        font-size: 34px;
        margin-top: 55px;
    }
    .become-donor-text {
        padding: 70px 100px 70px 100px;
    }
    .find-donor-text {
        padding: 70px 100px 70px 100px;
    }
    footer {
        padding: 40px 20px;
    }
    .why-takes3 {
        padding: 80px;
    }
    .find-donor {
        line-height: 1.8;
    }
    .main-form-sec {
        padding: 80px;
    }
    .donor-questionnaire {
        padding: 60px 0px 60px 0px;
    }
    .egg-donor-col-1 h1 {
        padding-left: 20px;
    }
    .donor-login {
        padding: 100px 0px 90px 0px;
    }
}

@media screen and (max-width: 991px) {
    .hide-mobile-view {
        display: none;
    }
    .mobile-nav-toggle {
        display: block;
    }
    .egg-donor-col-1 h1 {
        font-size: 32px;
        margin-bottom: 30px;
    }
    .progress .name {
        left: 50px;
    }
    .footer-nav-navbar {
        display: block !important;
    }
    .navbar-nav .nav-link {
        padding-left: 0 !important;
    }
    .mobile-nav-toggle .navbar-nav .nav-link {
        padding-left: 0 !important;
        text-align: center;
    }
    .form-inline {
        display: inline-block;
        width: 143px;
        text-align: center;
    }
    .form-inline button {
        margin-bottom: 10px;
    }
    .aerrow-box:after {
        top: 35px;
        left: 90px;
    }
    .top-btn {
        left: 0px;
    }
    .top-btn:after {
        left: 30px;
        top: -8px;
        right: unset;
    }
    .footer-logo {
        text-align: center;
    }
    .footer-nav-social li {
        display: inline-block;
        padding: 5px 20px;
    }
    .footer-social {
        text-align: center;
    }
    .footer-middle {
        text-align: center;
        display: table;
        margin: 0 auto;
    }
    .navbar-brand-footer {
        margin-bottom: 0px;
        display: block;
    }
    .form-inline button {
        margin-left: 0px;
    }
    .desktop-img {
        display: none;
    }
    .mobile-img {
        display: block;
    }
    .mobile-img-mid {
        display: block;
        margin: 0 auto;
    }
    .become-donor-text {
        padding: 0px 50px 70px 50px;
    }
    .find-donor-text {
        padding: 70px 100px 0px 100px;
    }
    .mobile-view-top-margin img {
        margin-top: 55px;
    }
    .inner-pages-nav {
        height: auto;
    }
    .donor-questionnaire {
        padding: 20px 10px 60px 0px;
    }
    .mobile-view-hide {
        display: none;
    }
    .request-login {
        padding-left: 50px;
    }
    .fst-slide-btn-scroll {
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .fst-slide-btn {
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        text-align: center;
        margin: 30px auto 10px;
    }
    .drop-dron-ask-question:after {
        content: " ";
        position: absolute;
        top: 72px;
        right: 80px;
        border-top: none;
        border-right: 8px solid #00000000;
        border-left: 8px solid #00000000;
        border-bottom: 8px solid #ffffff;
    }
    .desktop-view-footer {
        display: none;
    }
    .mobile-view-footer {
        display: block;
    }
    .desktop-view-how-it-works {
        display: none;
    }
    .mobile-view-how-it-works {
        display: block;
    }
    .mobile-view-how-it-works {
        position: absolute !important;
        width: 85px !important;
        left: -15px !important;
        top: -170px !important;
    }
    .how-donor-col-1 h1 {
        font-size: 32px;
        padding-left: 15px;
        line-height: 38px;
        text-align: center;
    }
    .how-donor-col-1 strong {
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        color: #574644;
    }
}

@media screen and (max-width: 768px) {
    .padding0 {
        padding: 0 15px !important;
    }
    .padding-left0 {
        padding: 0 15px !important;
    }
    .padding0-right0 {
        padding: 0 15px !important;
    }
    .footer-logo {
        text-align: center;
    }
    .footer-social {
        text-align: center;
    }
    .why-takes3 {
        padding: 45px 25px;
    }
    .become-donor-text {
        padding: 0px 25px 25px 25px;
        margin-top: -40px;
    }
    .become-donor-text h2 {
        font-size: 28px;
    }
    .find-donor-text {
        padding: 15px 25px 0px 25px;
        margin-bottom: -40px;
    }
    .find-donor-text h2 {
        font-size: 28px;
    }
    .find-donor-text p {
        font-size: 16px;
    }
    .footer-nav-link {
        font-size: 20px !important;
    }
    .copyright p {
        font-size: 16px;
    }
    .carousel-caption h3 {
        font-size: 42px;
        margin-bottom: 0px;
        margin-top: 180px;
        text-align: center;
        padding: 0px 25px;
    }
    .navbar-brand {
        font-size: 60px;
    }
    .navbar-brand span {
        font-size: 40px;
        position: relative;
        top: -16px;
        left: -1px;
    }
    .carousel-caption h4 {
        font-size: 32px;
        line-height: 38px;
        margin-top: 15px;
        font-weight: 800;
    }
    .mobile-view-top-margin img {
        margin-top: 0px;
        width: 275px;
        margin-bottom: 15px;
        margin-left: 15px;
    }
    .bg-slider-img-1,
    .bg-slider-img-2,
    .bg-slider-img-3 {
        height: 720px;
        background-position: -1000px 0px;
    }
    .find-donor {
        font-weight: 700;
        font-size: 16px;
        line-height: 2;
    }
    .carousel-caption {
        padding-top: 5px;
        left: 15%;
    }
    .carousel-control-next,
    .carousel-control-prev {
        width: 20%;
    }
    .responisive-padding-0 {
        padding: 0;
    }
    .fa-angle-left {
        font-size: 30px;
        color: #574644;
        opacity: 0.9;
        background-color: #ebf1f394;
        padding: 1px 10px;
        border-radius: 50%;
        top: -40px;
        position: relative;
        left: -8px;
    }
    .fa-angle-right {
        font-size: 30px;
        color: #574644;
        opacity: 0.9;
        background-color: #ebf1f394;
        padding: 1px 10px;
        border-radius: 50%;
        top: -40px;
        position: relative;
        left: 8px;
    }
    ol.progress[data-steps="4"] li {
        width: 15%;
    }
    .progress .name {
        left: 30px;
        font-size: 12px;
    }
    .main-form-sec {
        padding: 45px 5px;
    }
    .egg-donor-col-1 h1 {
        padding-left: 10px;
        font-size: 32px;
        text-align: center;
    }
    .egg-donor-col-1 strong {
        font-size: 32px;
    }
    .egg-donor-col-2 {
        padding-left: 10px;
    }
    .egg-donor-col-3 {
        padding-left: 10px;
    }
    .green-leaves-questionnaire img {
        position: absolute;
        width: 100px;
        left: -15px;
        top: -200px;
    }
    .donor-questionnaire {
        margin-top: 170px;
    }
    .btn-group {
        display: inline-block;
    }
    .label-form span {
        font-size: 20px;
        text-align: center;
    }
    .outer-form-shadow {
        padding: 30px 18px;
    }
    .request-login {
        padding-left: 0px;
        padding: 0 20px;
    }
    .donor-login-form {
        padding: 40px 20px 50px 20px;
    }
    .login-new-user h2 {
        text-align: center;
        font-size: 32px;
    }
    .login-new-user p {
        text-align: center;
        font-size: 16px;
    }
    .donor-login {
        padding: 30px 0px 90px 0px;
    }
    .donor-login-form a {
        text-align: center;
        margin-top: 15px;
    }
    .donor-login-form button {
        display: block;
        padding: 7px 30px;
        margin-top: 10px;
        width: 201px;
        height: 40px;
        margin: 15px auto 0;
    }
    .form-control-login {
        text-align: center;
        font-size: 14px;
    }
    .request-login h2 {
        text-align: center;
        padding: 0 30px;
        font-size: 32px;
        font-weight: 800;
    }
    .donor-login-form h3 {
        text-align: center;
        font-size: 28px;
    }
    .login-new-user button {
        margin: 35px auto 0;
        width: 201px;
        height: 40px;
        font-size: 16px;
    }
    .donor-data-list {
        padding: 0px 0px 70px 0px;
    }
    .donor-search {
        padding: 50px 0px 100px 0px;
    }
    .donor-profile-search {
        padding-left: 0px;
    }
    .donor-profile-search h3 {
        text-align: center;
        margin-top: 30px;
    }
    .donor-profile-search p {
        text-align: center;
    }
    .carousel-caption button {
        text-align: center;
        display: block;
        margin: 35px auto 0;
        height: 43px;
        padding: 10px 30px;
    }
    .egg-donor-col-2 p {
        text-align: center;
        font-size: 16px;
    }
    .egg-donor-col-3 p {
        text-align: center;
    }
    .egg-donor-col-3 h3 {
        font-weight: 400;
        text-align: center;
    }
    .egg-donor-col-3 a {
        text-align: center;
        display: block;
        margin: 0 auto;
        text-decoration-color: #574644;
    }
    .egg-donor-col-3 button {
        display: block;
        padding: 10px 50px;
        margin-top: 60px;
        margin: 20px auto 0;
        text-align: center;
    }
    .btn-group .btn {
        width: 90px;
        padding: 4px;
    }
    .next-btn button {
        color: #ffffff;
        padding: 8px 25px;
        margin: 20px auto 0;
        text-align: center;
        display: block;
        width: 205px;
        height: 40px;
        font-size: 16px;
    }
    .slider-text p {
        font-size: 16px;
        line-height: 18px;
    }
    .why-takes3-left-text h2 {
        font-size: 28px;
    }
    .logo-text3-content {
        font-size: 28px;
    }
    .logo-text3-content span {
        font-size: 21px;
        top: -9px;
    }
    .why-takes3-left-text p {
        font-size: 16px;
    }
    .become-donor-text p {
        font-size: 16px;
    }
    .form-control {
        font-size: 14px;
        text-align: center;
    }
    select {
        text-align: center;
        text-align-last: center;
        -moz-text-align-last: center;
    }
    .footer-nav-social li {
        display: inline-block;
        padding: 15px 20px;
    }
    .egg-donor-col-3 .begin-btn {
        display: block;
        width: 201px;
        height: 50px;
        margin-top: 45px;
        font-size: 16px;
        padding: 12px;
    }
    .basic-information h2 {
        text-align: center;
        margin: 0px 0 25px 0;
        font-size: 20px;
    }
    .become-donor-text strong {
        font-size: 16px;
        font-weight: 500;
    }
    .how-donor-col-3 p {
        text-align: center;
        font-size: 16px;
        line-height: 22px;
    }
    .read-egg-donor-faq-btn {
        background-color: #574644 !important;
        display: block;
        height: 50px;
        width: 303px;
        margin: 20px auto !important;
        font-size: 16px;
    }
    .apply-new-how-to-donor {
        height: 50px;
        width: 201px;
        display: block;
        margin: 15px auto 0 !important;
    }
    .donor-questionnaire-how-to-works {
        padding: 20px 0px 60px 0px !important;
    }
    .frequently-sec h2 {
        text-align: center;
        margin: 20px 0 25px 0;
        font-size: 28px;
        font-weight: 700;
        color: #574644;
        line-height: 28px;
    }
    .eligiblity-sec-left h3 {
        font-size: 20px;
        margin: 40px 0 25px 0;
        line-height: 31px;
    }
    .ask-question-sec {
        padding: 25px 15px;
    }
    .embed-responsive {
        border-radius: 9px;
        height: 183px;
        width: auto;
        margin: 0 auto;
    }
    .eligiblity-sec-left p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 35px;
    }
    .apply-now-becon-donor a {
        display: block;
        height: 50px;
        width: 311px;
        padding: 13px 20px;
        margin: 25px auto 0;
    }
    .eligiblity-sec-right {
        padding: 30px 15px;
    }
    .eligiblity-sec-inner-text ul li {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 18px;
    }
    .eligiblity-sec-inner-text::-webkit-scrollbar {
        height: 462px;
        width: 4px;
    }
    .alert-danger {
        width: 98%;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 3px 0px;
    }
    .card-body {
        padding: 9px 3px 0;
    }
    .card-img,
    .card-img-top {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .view-full-profile-btn {
        padding: 6px 5px;
        font-size: 14px;
        position: relative;
        left: -3px;
    }
    .light-heart {
        font-size: 20px;
        margin-top: 4px;
        padding-right: 5px !important;
    }
    .dark-heart {
        font-size: 20px;
        margin-top: 4px;
        padding-right: 5px !important;
    }
    .reserved-donor span {
        padding: 1px 6px;
        font-size: 12px;
        border-radius: 4px 10px 0px 5px;
    }
    .repeat-donor {
        padding: 0px 8px;
        font-size: 12px;
        border-radius: 10px 5px 5px 0px;
    }
    .card-body span {
        font-size: 13px;
    }
    .card-body p {
        font-size: 13px;
    }
    .mobil-padd-0 {
        padding: 0;
    }
}