/* copyright @tarique */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Baloo 2", cursive;
    overflow-x: hidden;
}

.navbar-main {
    background-color: #ececec36;
}

.navbar {
    padding: 5px 85px;
}

.navbar-brand {
    font-size: 85px;
    color: #574644;
    font-weight: 800;
}

.navbar-brand {
    font-size: 85px;
    color: #574644;
    font-weight: 800;
}

.navbar-brand span {
    font-size: 55px;
    color: #574644;
    font-weight: 800;
    position: relative;
    top: -25px;
    left: -1px;
}

.navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 700;
    color: #574644;
    padding-right: 0.9rem !important;
    padding-left: 0.9rem !important;
}

.form-inline button {
    background-color: #574644;
    color: #ffffff;
    font-weight: 500;
    margin-left: 35px;
    padding: 10px 30px;
    outline: none;
    width: 142px;
    border-radius: 8px;
    border: 2px solid #574644;
    position: relative;
    top: -10px;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.form-inline button:hover {
    border: 2px solid #574644;
    color: #ffffff;
    transform: translateY(-3px);
}

.form-inline .btn-drop {
    background-color: #5a5a5a;
    color: #ffffff;
    font-weight: 500;
    margin-right: 0px;
    padding: 7px 30px;
    border: none;
    border-radius: 5px;
}

.btn-drop .nav-link {
    padding: 0;
    color: #ffffff;
}

.dropdown-menu:li {
    text-align: left;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

footer {
    padding: 40px 60px;
}

.navbar-brand-footer {
    font-size: 55px;
    color: #574644;
    font-weight: 800;
}

.navbar-brand-footer:hover {
    font-size: 55px;
    color: #574644;
    font-weight: 800;
    text-decoration: none;
}

.navbar-brand-footer span {
    font-size: 38px;
    color: #574644;
    font-weight: 800;
    position: relative;
    top: -14px;
    left: -1px;
}

.footer-nav-navbar {
    display: inline-block;
}

.footer-middle {
    text-align: left;
    display: table;
}

.footer-social {
    text-align: left;
}

.footer-nav-social li {
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 5px;
}

.footer-nav-social li a {
    color: #505050;
    font-size: 22px;
}

.footer-nav-link {
    font-size: 14px !important;
}

.copyright {
    text-align: center;
    display: block;
}

.copyright p {
    margin: 0;
    font-size: 14px;
    color: #574644;
    font-weight: 700;
    margin-top: 5px;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 30px;
    height: 21px;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url(../images/burger-icon.png);
}

.navbar-toggler-icon-white {
    display: inline-block;
    width: 30px;
    height: 21px;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url(../images/burger-icon-white.png);
}

.aerrow-box:after {
    content: " ";
    position: absolute;
    left: 20px;
    top: -8px;
    border-top: none;
    border-right: 8px solid #00000000;
    border-left: 8px solid #00000000;
    border-bottom: 8px solid #ffffff;
}

.dropdown-menu {
    border: none !important;
    box-shadow: 0px 1px 17px 0px #8080804a;
}

.top-btn {
    margin-top: 10px !important;
    left: -35px;
}

.top-btn:after {
    content: " ";
    position: absolute;
    right: 30px;
    top: -8px;
    border-top: none;
    border-right: 8px solid #00000000;
    border-left: 8px solid #00000000;
    border-bottom: 8px solid #ffffff;
}

.dropdown-item {
    padding: 0.35rem 1rem;
    font-weight: 700;
    font-size: 13px;
    color: #000000;
}

.label-form-family span {
    margin: 5px 0 5px;
    display: block;
    font-weight: 600;
    color: #574644;
    font-size: 23px;
}

.family-heading span {
    margin: 10px 0 10px;
    display: block;
    font-weight: 700;
    font-size: 23px;
    color: #574644;
}

.outer-family-details {
    border: 1px solid #c1c1c1;
    padding: 0px 12px 6px 12px;
    border-radius: 6px;
}

.footer-nav-social {
    margin-bottom: 0;
    text-align: center;
}

.p0 {
    padding: 0;
}

.carousel-caption {
    position: absolute;
    left: 6.2%;
    top: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 7%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    opacity: 0.8;
    transition: opacity 0.6s ease;
    border-radius: 50%;
    border: 2px solid #dcdcdccf;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #363636;
}

.carousel-caption h3 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 12px;
    color: #ffffff;
    margin-top: 150px;
}

.carousel-caption h4 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 12px;
    color: #574644;
    line-height: 54px;
    margin-top: 100px;
}

.carousel-caption button {
    padding: 10px 35px;
    height: 50px;
    border: none;
    background-color: #ffffff;
    border-radius: 3px;
    font-weight: 900;
    color: #574644;
    margin-top: 25px;
    font-family: 'Roboto';
    position: relative;
    font-size: 16px;
    margin-top: 8px;
    position: relative;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    border: 2px solid #ffffff;
}

.carousel-caption button:hover {
    transform: translateY(-3px);
}

.take3-slider1 {
    color: #574644;
}

.take3-slider1:hover {
    color: #574644;
}

.take3-slider2 {
    color: rgb(255, 255, 255) !important;
}

.take3-slider3 {
    color: #ffffff !important;
}

.onslider-logo {
    font-size: 20px;
    color: #574644;
    font-weight: 800;
    margin-right: 5px;
}

.onslider-logo:hover {
    font-size: 20px;
    color: #574644;
    font-weight: 800;
    margin-right: 5px;
    text-decoration: none;
}

.onslider-logo span {
    font-size: 15px;
    color: #574644;
    font-weight: 800;
    position: relative;
    top: -8px;
    left: -1px;
}

.slider-text p {
    color: #574644;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: 5px;
    line-height: 1.2;
    font-family: roboto;
}

.slider-text {
    display: flex;
}

.find-donor {
    color: #574644;
    font-weight: 600;
    font-size: 18px;
    line-height: 54px;
    font-family: roboto;
}

.bg-slider-img-1 {
    background-image: url(../images/slider2.jpg);
    height: 628px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-slider-img-2 {
    background-image: url(../images/slider.jpg);
    height: 628px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-slider-img-3 {
    background-image: url(../images/slider3.jpg);
    height: 628px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fa-angle-left {
    font-size: 42px;
    color: #574644;
    opacity: 0.9;
    background-color: #ebf1f394;
    padding: 1px 15px;
    border-radius: 50%;
}

.fa-angle-right {
    font-size: 42px;
    color: #574644;
    opacity: 0.9;
    background-color: #ebf1f394;
    padding: 1px 15px;
    border-radius: 50%;
}

.carousel-control-prev {
    left: 0;
    opacity: unset;
}

.fa-angle-right:before {
    content: "\f105";
    position: relative;
    left: 2px;
}

.fa-angle-left:before {
    content: "\f104";
    position: relative;
    left: -1px;
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.button-bg {
    background-color: #ffffff !important;
    color: #574644 !important;
    border: 2px solid #ffffff !important;
    font-weight: 600;
}

.bg-dark {
    background-color: #ffffff !important;
    box-shadow: 2px 0px 15px -2px #0000002b;
}

.bottomMenu {
    background-color: rgb(255 255 255);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99999;
}

.scroll-navbar-brand {
    font-size: 55px;
    color: #574644;
    font-weight: 800;
    transition: all 0.5s ease;
    padding: 0;
}

.scroll-navbar-brand:hover {
    font-size: 55px;
    color: #574644;
    font-weight: 800;
    transition: all 0.5s ease;
    padding: 0;
}

.scroll-navbar-brand span {
    font-size: 40px;
    color: #574644;
    font-weight: 800;
    position: relative;
    top: -16px;
    left: -1px;
}

.outo-top-crol {
    margin-top: 10px;
}

.why-takes3 {
    background-color: #b6e2ee6e;
    padding: 80px 70px;
}

.why-takes3-left-text {
    margin-top: 60px;
}

.logo-text3-content {
    font-size: 48px;
    color: #574644;
    font-weight: 800;
}

.logo-text3-content:hover {
    color: #574644;
    text-decoration: none;
}

.logo-text3-content span {
    font-size: 30px;
    color: #574644;
    font-weight: 800;
    position: relative;
    top: -14px;
    left: -1px;
}

.slider-navbar-top {
    position: relative;
    top: -15px;
}

.why-takes3-left-text h2 {
    font-weight: 900;
    font-size: 48px;
    color: #574644;
    margin-bottom: 25px;
}

.mobile-view-footer {
    display: none;
}

.logo-text3-para {
    font-size: 24px;
    color: #574644;
    font-weight: 800;
}

.logo-text3-para:hover {
    font-size: 24px;
    color: #574644;
    font-weight: 800;
    text-decoration: none;
}

.logo-text3-para span {
    font-size: 18px;
    color: #574644;
    font-weight: 800;
    position: relative;
    top: -7px;
    left: -1px;
}

.why-takes3-left-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #574644;
    font-family: roboto;
}

.why-takes3-leavs ul li {
    display: inline-block;
}

.become-donor-sec {
    background-color: #ffffff;
    padding: 40px 0px;
}

.become-donor-text {
    padding: 70px 220px 70px 100px;
}

.become-donor-text h2 {
    font-weight: 900;
    font-size: 48px;
    color: #574644;
    margin-bottom: 25px;
}

.become-donor-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #574644;
    font-family: roboto;
}

.green-leaves img {
    position: relative;
    left: -15px;
}

.become-donor-text button {
    padding: 10px 20px;
    width: 145px;
    height: 50px;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    background: #236258;
    color: #ffffff !important;
    margin-top: 25px;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.become-donor-text button:hover {
    transform: translateY(-3px);
    color: #ffffff !important;
}

.find-donor-sec {
    background-color: #b6e2ee6e;
    padding: 40px 0px;
}

.find-donor-text {
    padding: 70px 100px 70px 220px;
}

.find-donor-text h2 {
    font-weight: 900;
    font-size: 48px;
    color: #574644;
    margin-bottom: 25px;
}

.find-donor-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #574644;
    font-family: roboto;
}

.red-leaves img {
    position: relative;
    right: -15px;
}

.instagram-footer {
    width: 20.3px;
    height: 20.3px;
}

.find-donor-text button {
    padding: 10px 10px;
    width: 238px;
    height: 50px;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    background: #EB466B;
    color: #ffffff !important;
    margin-top: 25px;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.find-donor-text button:hover {
    transform: translateY(-3px);
    color: #ffffff !important;
}

.find-donor-text strong a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #574644;
    text-decoration: underline;
    cursor: pointer;
}

.become-donor-text strong a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #574644;
    text-decoration: underline;
    cursor: pointer;
}

.mobile-img {
    display: none;
}

.mobile-img-mid {
    display: none;
}

.fst-slide-btn {
    background-color: #574644;
    color: #ffffff;
    margin-left: 20px;
    font-weight: 700;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    position: relative;
    top: -5px;
    border-radius: 4px !important;
    width: 137px;
    height: 40px;
    font-size: 16px;
}


/* .fst-slide-btn:hover {
    transform: translateY(-3px);
} */

.fst-slide-btn-scroll {
    background-color: #574644 !important;
    color: #ffffff !important;
    margin-left: 20px;
    font-weight: 700;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    position: relative;
    top: -5px;
    border-radius: 4px !important;
    width: 137px;
    font-size: 16px;
    height: 40px;
}


/* .fst-slide-btn-scroll:hover {
    transform: translateY(-3px);
} */


/*--------------------- Egg Donor Questionnaire-css--------------- */

.box-shadow-white {
    /* box-shadow: 2px 0px 15px -2px #0000002b; */
}

.inner-pages-nav {
    background-color: #ffffff;
    height: 110px;
}

.donor-questionnaire {
    padding: 60px 70px 60px 0px;
    margin-top: 140px;
}

.green-leaves-questionnaire img {
    position: relative;
    width: 200px;
    left: -15px;
    top: -50px;
}

.egg-donor-col-1 h1 {
    font-size: 38px;
    color: #574644;
    font-weight: 800;
    padding-left: 70px;
}

.egg-donor-col-1 strong {
    font-size: 38px;
    color: #236258;
}

.egg-donor-col-2 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #574644;
    font-family: roboto;
}

.egg-donor-col-3 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #574644;
    font-family: roboto;
}

.egg-donor-col-3 h3 {
    font-size: 18px;
    color: #574644;
    font-weight: 700;
    margin: 22px 0 30px 0;
    font-family: roboto;
}

.digital-photo {
    margin: 0;
}

.egg-donor-col-3 a {
    color: #574644;
    font-weight: 400;
    text-decoration: underline;
    font-size: 17px;
    font-family: roboto;
    -webkit-text-decoration-color: #E84258;
    text-decoration-color: #E84258;
}

.egg-donor-col-3 .begin-btn {
    display: block;
    width: 105px;
    height: 40px;
    margin-top: 45px;
    padding: 8px;
    text-align: center;
    border: none;
    background: #236258;
    color: #ffffff !important;
    border-radius: 4px;
    font-weight: 500;
    outline: none;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    text-decoration: none !important;
}

.egg-donor-col-3 .begin-btn:hover {
    color: #ffffff !important;
    transform: translateY(-3px);
}

.main-form-sec {
    padding: 70px 120px;
    background-color: #b6e2ee6e;
}


/* progress-bar-ccs */

ol.progress[data-steps="2"] li {
    width: 49%;
}

ol.progress[data-steps="3"] li {
    width: 33%;
}

ol.progress[data-steps="4"] li {
    width: 24%;
}

ol.progress[data-steps="5"] li {
    width: 19%;
}

ol.progress[data-steps="6"] li {
    width: 16%;
}

ol.progress[data-steps="7"] li {
    width: 14%;
}

ol.progress[data-steps="8"] li {
    width: 12%;
}

ol.progress[data-steps="9"] li {
    width: 11%;
}

.progress {
    width: 100%;
    list-style: none;
    list-style-image: none;
    margin: 20px 0 20px 0;
    padding: 0;
    height: unset !important;
    line-height: unset !important;
    border-radius: unset !important;
    background-color: unset !important;
    font-size: unset !important;
}

.progress li {
    float: left;
    text-align: center;
    position: relative;
}

.progress .name {
    display: block;
    text-align: center;
    margin-bottom: 1em;
    color: #000000;
    position: relative;
    left: 90px;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.progress .step {
    color: black;
    border: 3px solid #929292;
    background-color: #929292;
    border-radius: 50%;
    line-height: 1.2;
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    z-index: 0;
}

.progress .step span {
    opacity: 0.3;
}

.progress .active .name,
.progress .active .step span {
    opacity: 1;
}

.progress .step:before {
    content: "";
    display: block;
    background-color: #d2d2d2;
    height: 0.25em;
    bottom: 0.9em;
    width: 50%;
    position: absolute;
    left: 0;
    z-index: -1;
    transition: all 1s ease;
}

.progress .step:after {
    content: "";
    display: block;
    background-color: #d2d2d2;
    height: 0.25em;
    bottom: 0.9em;
    width: 50%;
    position: absolute;
    right: 0;
    z-index: -1;
    transition: all 1s ease;
}

.progress li:first-of-type .step:before {
    display: none;
}

.progress li:last-of-type .step:after {
    display: none;
}

.progress .done .step,
.progress .done .step:before,
.progress .done .step:after,
.progress .active .step,
.progress .active .step:before {
    background-color: #574644;
}

.progress .done .step,
.progress .active .step {
    border: 3px solid #574644;
    transition: all 1s ease;
}


/* progress-bar-ccs-end */

.basic-information h2 {
    text-align: center;
    margin: 40px 0 30px 0;
    font-size: 38px;
    font-weight: 700;
    color: #574644;
}

.form-control {
    height: 44px;
    display: block;
    width: 100%;
    padding: 0.2rem 0.95rem;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #574644;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #574644e0;
    border-radius: 4px;
    outline: none;
    font-family: roboto;
}

.form-control::placeholder {
    color: #574644;
}

input.form-control:focus,
button:focus,
textarea:focus,
textarea:focus,
input:active,
button:active,
textarea:active,
input:active,
input,
textarea,
button,
select:focus {
    outline-style: none !important;
    outline: none !important;
    outline: 0 !important;
    border: 1px solid #ffffff;
    color: #574644;
}

.outer-form-shadow {
    box-shadow: 0px 1px 17px 0px #8080804a;
    padding: 40px 30px;
    border-radius: 20px;
    background-color: #ffffff;
}

.padding0 {
    padding: 0;
}

.padding-left0 {
    padding-left: 0;
}

.padding0-right0 {
    padding-right: 0;
}

.from-inner {
    margin: 10px 0;
}

.label-form span {
    margin: 30px 0 5px;
    display: block;
    font-weight: 700;
    font-size: 22px;
    color: #574644;
}

.btn-group-vertical>.btn.active,
.btn-group-vertical>.btn:active,
.btn-group-vertical>.btn:focus,
.btn-group>.btn.active,
.btn-group>.btn:active,
.btn-group>.btn:focus {
    z-index: 1;
    color: white !important;
    background: #574644;
    border-radius: 2px !important;
    outline: none;
    border: none;
    padding: 5px;
}

.btn-group .btn {
    background-clip: padding-box;
    margin-right: 10px;
    border-radius: 2px !important;
    width: 100px;
    height: 32px;
    font-weight: 600;
    text-align: center;
    color: #ffffff !important;
    margin-top: 10px;
    outline: none;
    background-color: #e2e2e2;
    padding: 5px;
    font-size: 16px;
}

.describe-status {
    margin-top: 15px;
}

.social-sec {
    margin-top: 25px;
}

textarea.form-control {
    height: 150px;
    resize: none;
    padding: 15px;
}

.next-btn {
    text-align: right;
}

.next-btn button {
    background-color: #236258;
    color: #ffffff;
    font-weight: 400;
    margin-right: 0px;
    padding: 8px 25px;
    text-align: center;
    border: none;
    border-radius: 3px;
    margin: 20px 0px 0 10px;
    position: relative;
    font-size: 16px;
    width: 147px;
    height: 40px;
}

.custom-file-upload {
    position: relative;
    top: 25px;
    left: 20px;
}

.custom-file-upload .custom-file-upload1 {
    border: none;
    display: inline-block;
    padding: 5px 25px;
    cursor: pointer;
    background-color: #574644;
    border-radius: 4px;
    color: #ffffff;
    margin-top: 4px;
    font-weight: 400;
    font-size: 18px;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.file-text-left {
    display: inline-flex;
}

.upload-img img {
    max-width: 110px;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
}

.checkbox {
    position: relative;
    display: inline-block;
    margin-top: 1px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 18px;
    width: 100%;
    left: 8px;
    top: 0px;
    color: #574644;
    font-family: roboto;
}

input[type="checkbox"] {
    width: 20px;
    height: 15px;
    position: absolute;
    margin-left: -30px;
    top: 5px;
}

.green-leaves-in-form img {
    position: absolute;
    width: 200px;
    left: -15px;
    top: 420px;
}

.green-leaves-in-form-right img {
    position: absolute;
    width: 200px;
    right: -15px;
    bottom: 420px;
}


/* -----------donor-login------- */

.donor-login {
    padding: 100px 70px 100px 0px;
    margin-top: 110px;
}

.request-login {
    padding-left: 120px;
}

.donor-login-form {
    padding: 60px 150px 50px 80px;
    background-color: #eb466b;
    border-radius: 20px;
    box-shadow: 4px 4px 14px 0px #00000040;
    position: relative;
    z-index: 99;
}

.donor-login-form h3 {
    font-size: 38px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
}

.donor-login-form a {
    display: block;
    text-align: right;
    font-size: 16px;
    color: #ffffff;
    margin: 6px 0;
}

.request-login h2 {
    font-size: 38px;
    font-weight: 700;
    color: #574644;
    margin-bottom: 35px;
}

.donor-login-form button {
    display: block;
    padding: 7px 30px;
    width: 103px;
    height: 40px;
    font-family: 'Roboto';
    margin-top: 10px;
    border: none;
    font-size: 16px;
    background: #ffffff;
    color: #574644;
    border-radius: 4px;
    font-weight: 800;
    outline: none;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.donor-login-form button:hover {
    color: #574644;
    transform: translateY(-3px);
}

.form-control-login {
    height: 48px;
    display: block;
    width: 100%;
    padding: 0.2rem 0.95rem;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #574644;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #57464445;
    border-radius: 4px;
    outline: none;
    font-family: roboto;
}

.from-inner-login {
    margin-bottom: 5px;
}

.from-inner-login::placeholder {
    color: #574644;
    font-weight: 600;
}

.login-new-user {
    margin-top: 120px;
    padding: 0 30px;
}

.login-new-user h2 {
    font-weight: 900;
    font-size: 38px;
    color: #574644;
}

.login-new-user p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #574644;
    font-family: roboto;
}

.orange-leaves-login img {
    position: absolute;
    width: 260px;
    left: -15px;
    top: -280px;
}

.login-new-user button {
    display: block;
    padding: 7px 5px;
    margin-top: 35px;
    width: 170px;
    height: 40px;
    font-family: 'Roboto';
    border: none;
    background: #574644;
    color: #ffffff;
    border-radius: 4px;
    font-weight: 600;
    outline: none;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    font-size: 16px;
}

.login-new-user button:hover {
    color: #ffffff;
    transform: translateY(-3px);
}


/* donor-search */

.padding-left-0 {
    padding-left: 0;
}

.donor-search {
    padding: 50px 70px 100px 0px;
    margin-top: 110px;
}

.donor-search-navigation {
    background-color: #f8f8f8;
    padding: 40px 10px 40px 0px;
    border-radius: 2px;
    box-shadow: 3px 3px 4px -1px #80808036;
}

.donor-search-navigation ul li {
    display: block;
    padding: 10px 0;
}

.donor-search-navigation ul li a {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    padding: 1px 0;
    display: block;
    transition-duration: 0.5s;
    padding-left: 20px;
}

.donor-search-navigation ul li a:hover {
    text-decoration: none;
    border-left: 5px solid #574644;
    transition-duration: 0.5s;
}

.donor-search-navigation ul li a.active {
    text-decoration: none;
    border-left: 5px solid #574644;
    transition-duration: 0.5s;
}

.fa.fa-search {
    padding-right: 15px;
    color: #574644;
}

.fa.fa-heart {
    padding-right: 15px;
    color: #574644;
}

.fa.fa-sign-in {
    padding-right: 15px;
    color: #574644;
}

.donor-profile-search {
    padding-left: 20px;
}

.donor-profile-search h3 {
    font-size: 35px;
    font-weight: 700;
    color: #574644;
}

.donor-profile-search p {
    font-size: 20px;
    font-weight: 700;
    color: #574644;
}

.donor-search-form {
    padding: 25px;
    background: linear-gradient( 180deg, rgb(245 113 144) 7%, rgb(245 125 152) 14%, rgba(235, 70, 107, 1) 73%, rgba(235, 70, 107, 1) 100%);
    border-radius: 20px;
    box-shadow: 4px 4px 14px 0px #00000040;
    margin-top: 25px;
}

.form-donor-search {
    height: 40px;
    display: block;
    width: 100%;
    padding: 0.2rem 0.95rem;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #574644;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #57464445;
    border-radius: 4px;
    outline: none;
    font-family: roboto;
    margin-bottom: 12px;
}

.checkbox-form-donor {
    position: relative;
    display: inline;
    font-size: 15px;
    font-weight: 400;
    margin-left: 29px;
    margin-right: 10px;
    top: 5px;
    color: #ffffff;
    font-family: roboto;
}

.search-dbore-btn button {
    display: block;
    padding: 7px 30px;
    margin-top: 5px;
    border: none;
    background: #ffffff;
    color: #574644;
    border-radius: 4px;
    font-weight: 700;
    outline: none;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.search-dbore-btn button:hover {
    transform: translateY(-3px);
}

.donor-data-list {
    padding: 0px 70px 70px 70px;
}

.outer-drop-number {
    padding: 0px 18px;
    border: none;
    box-shadow: 2px 2px 6px 0px #8080808a;
    border-radius: 2px;
    font-weight: 400;
    font-size: 20px;
    color: #5b5b5b;
}

.show-number-drop span {
    font-size: 18px;
    margin-right: 10px;
    font-weight: 500;
}

.page-link {
    position: relative;
    display: block;
    padding: 5px 10px;
    margin-left: -1px;
    line-height: 1.25;
    color: #545454;
    font-size: 20px;
    background-color: #fff;
    border: none;
}

.fa-caret-right {
    font-size: 25px;
    color: #8f8f8f;
}

.page-item.active .page-link {
    z-index: 3;
    color: #555;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px 0px rgba(128, 128, 128, 0.623);
    border-radius: 2px;
    padding: 5px 10px;
    margin: 0 5px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #ddeef3;
    background-clip: border-box;
    border: 1px solid rgb(0 0 0 / 0%);
    border-radius: 10px;
    padding: 15px 10px;
    margin: 15px 0;
    transition-duration: 0.3s;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 2px 10px 20px 0px #00000036;
}

.card-img,
.card-img-top {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url(../images/avtar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-title {
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
    color: #574644;
    font-size: 22px;
}

.card-body {
    padding: 10px 20px;
}

.card-body p {
    text-align: center;
    font-size: 15px;
    color: #574644;
    font-family: roboto;
    line-height: 1.3;
}

.card-body span {
    text-align: center;
    display: block;
    line-height: 1.3;
    font-size: 15px;
    color: #574644;
    font-family: roboto;
}

.view-full-profile-btn {
    background-color: #eb466b;
    color: #ffffff !important;
    border: none;
    padding: 7px 25px;
    font-weight: 500;
    outline: none;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    border-radius: 4px;
}

.view-full-profile-btn:hover {
    transform: translateY(-3px);
    background-color: #eb466b;
    color: #ffffff;
}

.light-heart {
    color: #eb466b5e !important;
    font-size: 25px;
    margin-top: 10px;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    cursor: pointer;
    padding-right: 0px !important;
}

.light-heart:hover {
    transform: translateY(-3px);
}

.dark-heart {
    color: #eb466a !important;
    font-size: 25px;
    margin-top: 10px;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    cursor: pointer;
    padding-right: 0px !important;
}

.dark-heart:hover {
    transform: translateY(-3px);
}

.reserved-donor span {
    background-color: #7bc678;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px 10px 0px 8px;
}

.repeat-donor {
    background-color: #8281a0;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px 8px 8px 0px;
}

.bottom-pagination {
    text-align: center;
    margin-top: 20px;
}


/* how-it-works */

.how-donor-col-1 h1 {
    font-size: 44px;
    color: #236258;
    font-weight: 800;
    padding-left: 70px;
}

.how-donor-col-1 strong {
    font-size: 44px;
    color: #574644;
}

.how-donor-col-3 button {
    /* display: block; */
    padding: 7px 20px;
    margin-top: 15px;
    border: none;
    margin-right: 5px;
    background: #236258;
    color: #ffffff !important;
    border-radius: 4px;
    font-weight: 500;
    outline: none;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.how-donor-col-3 button:hover {
    transform: translateY(-3px);
}

.how-donor-col-3 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #574644;
    font-family: roboto;
}

.read-egg-donor-faq-btn {
    background-color: #574644 !important;
}

.ask-question-sec {
    padding: 25px 50px;
    background-color: #b6e2ee6e;
}

.frequently-sec h2 {
    text-align: center;
    margin: 30px 0 35px 0;
    font-size: 38px;
    font-weight: 700;
    color: #574644;
}

.eligiblity-sec-left h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 10px 0 25px 0;
    color: #574644;
}

.eligiblity-sec-left p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #574644;
    font-family: roboto;
}

.eligiblity-video {
    margin: 30px 0 30px 0;
    display: block;
}

.embed-responsive {
    position: relative;
    display: block;
    padding: 0;
    overflow: hidden;
    border-radius: 9px;
    height: 214px;
    width: 360px;
    background-color: #E1E1E1;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
}

.html5-video-player a {
    padding-top: 21px;
    display: none !important;
}

.mobile-nav-toggle {
    position: absolute;
    top: 0;
    background-color: #ffffff;
    padding: 25px 30px 50px;
    right: 0;
    width: 250px;
    box-shadow: 1px -3px 14px 1px #00000085;
    display: none;
}

.mobile-nav-toggle h3 {
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 25px;
    color: #574644;
}

.close {
    float: right;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1;
    color: #574644;
    text-shadow: 0 1px 0 #fff;
    position: absolute;
    right: 20px;
    top: 10px;
    opacity: unset;
}

select {
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), radial-gradient(#fff 70%, transparent 72%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - .5em) .5em;
    background-size: 7px 8px, 5px 9px, 1.5em 1.5em;
    background-repeat: no-repeat;
}

.eligiblity-sec-right {
    padding: 35px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.eligiblity-sec-inner-text {
    height: 654px;
    /* width: 526px; */
    margin-top: 10px;
    overflow: auto;
}

.eligiblity-sec-inner-text ul {
    line-height: 55px;
    padding-right: 30px;
}

.eligiblity-sec-inner-text ul li {
    color: #574644;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 21px;
    display: inline-block;
    font-weight: 600;
}


/* width */

.eligiblity-sec-inner-text::-webkit-scrollbar {
    height: 462px;
    width: 9px;
}


/* Track */

.eligiblity-sec-inner-text::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #D8D8D8;
}


/* Handle */

.eligiblity-sec-inner-text::-webkit-scrollbar-thumb {
    height: 282px;
    width: 9px;
    border-radius: 3px;
    background-color: #5A5A5A;
}


/* Handle on hover */

.eligiblity-sec-inner-text::-webkit-scrollbar-thumb:hover {
    background: #574644;
}

.apply-now-becon-donor a {
    display: block;
    height: 40px;
    width: 344px;
    padding: 7px 20px;
    margin: 40px auto 0;
    border: none;
    background: #236258;
    color: #ffffff !important;
    border-radius: 4px;
    font-weight: 500;
    text-align: center;
    outline: none;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.apply-now-becon-donor a:hover {
    color: #ffffff;
    transform: translateY(-3px);
    text-decoration: none;
}

.mobile-view-how-it-works {
    display: none;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    width: 400px;
    position: relative;
    left: 0;
    right: 0;
    top: 120px;
    margin: 0 auto;
}

.alert-danger .close {
    float: right;
    font-size: 35px;
    font-weight: 500;
    line-height: 1;
    color: #574644;
    text-shadow: 0 1px 0 #fff;
    position: absolute;
    right: 20px;
    top: 7px;
    opacity: unset;
    font-family: 'Roboto';
}

.drop-dron-ask-question {
    padding: 15px 18px;
    left: -60px;
    top: 55px;
}

.drop-dron-ask-question p {
    color: #000000;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 23px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.drop-dron-ask-question textarea {
    border: 0.5px solid #888888;
    /* opacity: 0.42; */
    border-radius: 2px;
    padding: 5px;
    resize: auto;
    height: 58px;
    display: block;
    width: 100%;
    color: #000000;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 23px;
    resize: none;
    display: block;
}

.drop-dron-ask-question a {
    display: block;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
    padding: 4px !important;
    height: 29px;
    border-radius: 4px;
    background-color: #574644;
    margin-top: 10px;
    outline: none;
    text-decoration: none !important;
}

.drop-dron-ask-question a:hover {
    color: #ffffff;
    outline: none;
}

.drop-dron-ask-question:after {
    content: " ";
    position: absolute;
    top: -8px;
    right: 25px;
    border-top: none;
    border-right: 8px solid #00000000;
    border-left: 8px solid #00000000;
    border-bottom: 8px solid #ffffff;
}