
/**mobile potrait**/
@media (max-width: 767px){
	/*****/
	
	.mob-img{width:100%;}
	.mob-30{margin-bottom:30px!important;}
	.contact-page .btn{margin-top:20px;}
	.mob-plr{padding:0;}
	.mob-left {float:left;}
	.ipad-col-4{
    flex: 0 0 100%!important;
    max-width: 100%!important;
}
	.mb-70 {
    margin-bottom: 20px;
}
.package-heading {
    font-size: 16px;
    line-height: 28px;
}
.package-details td {
    font-size: 16px;
    line-height: 22px;
}
.total {
    color: #E76230!important;
font-size: 24px!important;}
.package-details {
    margin: 0px 0;
    padding: 5px 10px 5px 10px; overflow-x:hidden;
}
#bookPTForm .col-sm-8{padding-left:0;}
.contact-page input, textarea.form-control, #customerBookDTPicker input {
    margin-bottom: 0;
    height: 55px;
}
.contact-page label {
    line-height: 35px;}
.contact-page h1 {
    font-weight: 700;
    line-height: 22px;
    font-size: 30px;
    color: #242422;
    margin-bottom: 20px;
}
.contact-page {
    padding-bottom: 30px;
}
.row{margin:0;}
.price-section {
    padding: 70px 0 100px!important;
}
.package-cover-section .btn{margin-top:0;}
.package-cover-section {
    padding: 30px 0 30px!important;
}
/**<>**/
.sb-icon-search1 {
    margin: 0 auto;
    width: 100%;
    margin-top: 5px;
}
	.price-section h1 {
		
    margin-top: 50px; font-size:26px;
   
}
.black-section h1 {
    font-size: 26px;
    margin-bottom: 30px;
    
}
.category {
   
font-size: 21px!important;}
	/*****/
	.static-slider4{text-align:center; padding-bottom:40px;}
	.dropp {
    margin: 0 auto 20px auto!important;
}
h1 {font-size: 36px;}

.block{padding:45px 57px 30px!important;}

.btn-floating .fa-caret-left, .btn-floating .fa-caret-right {
    font-size: 40px;
    margin-top: 0;}
.bbb_viewed_prev {
    position: absolute;
    left: 40%!important;
    top: 100%!important;
}
.bbb_viewed_next {
    position: absolute;
    right: 40%!important;
    top: 100%!important;
}
.black-section {
padding: 80px 0!important;}
.white-section p{padding-right:0!important;}
.bbb_viewed_prev1 {
    position: absolute;
    left: 45%!important;
    top: 100%!important;
}
.bbb_viewed_next {
    position: absolute;
    right: 42%!important;
    top: 100%!important;
}
.padding-lr {
    padding: 0!important;
    text-align: center!important; margin-top:30px;
}
.mob-5{margin-top:50px;}
.mob-3{margin-bottom:5px!important;}
.white-section h1 {
   
    font-size: 52px!important;
       margin-top: 50px!important;
}

.form-search {
    margin: 0 auto 20px auto;
}
/***/
  .static-slider4 h1 {
    line-height: 36px;
    font-size: 24px; 
  }
  .static-slider4 .img-anim {
    position: relative;
    top: 0px;
  }
  .static-slider4 .bg-info-gradiant {
    margin-top: 40px;
  }
}
/* pixcel 2xl Landscape */
@media (max-width: 823px){
	
	/*****/
	.mob-img {
    width: 40px;
}
.mob-plr{padding:0;}

.contact-page label {
font-size: 17px;}
	.static-slider4 p {
    font-size: 16px;
    color: #000;
    line-height: 24px;
    font-weight: 600;
}
	.static-slider4 {
    padding-bottom: 30px;
}
	.bbb_viewed_next1 {
    position: absolute;
    right: 47%;
    top: 100%;
    margin-top: 35px;
}
	.owl-item h2 {
    font-size: 21px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.footer-section h4 {
    margin-bottom: 0;
    font-size: 21px;
    margin-top: 10px;
}	
	/*<>*/
	.ipad-col-4{
    flex: 0 0 50%;
    max-width: 50%;
}
	.btn.btn-round, .btn-round1 {
  
padding: 11px 20px!important;}
	.white-section h1 {
   
    font-size: 26px!important;
       margin-top: 0px!important;
}
.white-section p{padding-right:0!important; font-size: 18px;
       line-height: 30px;}
	   .footer-section h3 {
    height: 40px;
    color: #EB5E28;
font-size: 21px!important;}
.bbb_viewed_prev1 {
    position: absolute;
    left: 47%!important;
    top: 100%!important;
}
	/****/
	  .form-search {
    margin: 0 auto 20px auto;
}
	.dropp {
    margin: 0 auto 20px auto!important;
}
h1 {font-size: 36px;}
.price-section h1 {
		
    margin-top: 25px!important; margin-bottom:30px!important;
   
}
.static-slider4 h1 {
    font-weight: 700;
    line-height: 29px;
    font-size: 21px;
    color: 403D39; margin-top:20px;
}
.mt-8 {
    margin-top: 0!important;
}

.price-section {
    
     padding: 50px 0 70px;
}
.mb-70 {
    margin-bottom: 40px;
}
.black-section {
padding: 50px 0!important;}



.padding-lr {
    padding: 0!important;
    text-align: left;
}

.footer-section a {
    color: #413E3A;
font-size: 24px!important;}
.footer-section i {
font-size: 22px!important;}
.footer-section ul li a {
    font-size: 16px!important;
    
}
.black-section1 {
    padding: 50px 0 80px!important;
}
.block-caption {
    
font-size: 26px!important;}

.block-pricing ul li{font-size:16px!important}
.footer-copyright{text-align:center;}


  }
  /* Mobile Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	  /****/
	  .mob-30 {
    margin-bottom: 10px!important;
}
.contact-page h3 {
    color: #000;
font-size: 21px;}
.contact-page .btn {
    margin-top: -70px;
}
	 .ipad-col-4{
    flex: 0 0 50%!important;
    max-width: 50%!important;
}
	  .mob-clearfix{clear:both;}
	  .ipad-col-4{width:50%;}
	  /*<>*/
	  .bbb_viewed_prev {
    position: absolute;
    left: 45%!important;
    top: 100%!important; margin-top:15px;
}
.bbb_viewed_next {
    position: absolute;
    right: 45%!important;
    top: 100%!important; margin-top:15px;
}
.white-section h1 {
    font-size: 36px!important;
    margin-top: 0px!important;
}
	  /****/
	  .block {
 
    padding: 45px 35px 30px!important;
   
}
.block-pricing ul li {
    font-size: 16px;
}
.category {
  
font-size: 24px;}
	.price-section h1 {
    margin-top: 20px;
    font-size: 28px!important; margin-bottom:30px;
}  


.bbb_viewed_prev1 {
    position: absolute;
    left: 47%!important;
    top: 100%!important; margin-top:30px;
}
.bbb_viewed_next1 {
    position: absolute;
    right: 47%!important;
    top: 100%!important; margin-top:30px;
}
.footer-section i {
font-size: 22px;}
.mob-5 {
    margin-top: 30px;
}
.mb-50 {
    margin-bottom: 20px;
}
.footer-section ul li a {
    font-size: 14px;
    line-height: 30px;
   
}
.footer-section h4 {
    margin-bottom: 5px;
    font-size: 22px;
   
}
.footer-copyright {
    color: #DDDAD7;
    background: #403D39;
    font-size: 14px;
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}
.w-50-1{width:49%; float:left;}
.footer-section h6 {
font-size: 16px;}
.mb-20 {
    margin-bottom: 0;
}
.footer-section h3 {
   height:70px;
font-size: 21px;}

.w-30{width: 41.66666667%;
}
.w-10{width: 16.66666667%;}
.footer-section a {
  font-size: 24px;}
.white-section p {
    color: #000;
    font-size: 21px;
    font-weight: 500;
line-height: 29px;}
  }
  /* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Mobile Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
  /****/
  .mob-30 {
    margin-bottom: 0px!important;
    margin-top: 20px!important;
}
.contact-page h3 {
    color: #000;
font-size: 21px;}
.contact-page .btn {
    margin-top: -70px;
}
	  .ipad-col-4{width:50%;}
	  /*<>*/
	  .bbb_viewed_prev {
    position: absolute;
    left: 45%!important;
    top: 100%!important; margin-top:15px;
}
.bbb_viewed_next {
    position: absolute;
    right: 45%!important;
    top: 100%!important; margin-top:15px;
}
.white-section h1 {
    font-size: 36px!important;
    margin-top: 0px!important;
}
	  /****/
 .block {
 
    padding: 45px 35px 30px!important;
   
}
.block-pricing ul li {
    font-size: 16px;
}
.category {
  
font-size: 24px;}
	.price-section h1 {
    margin-top: 20px;
    font-size: 28px!important; margin-bottom:30px;
}  

.bbb_viewed_prev1 {
    position: absolute;
    left: 47%!important;
    top: 100%!important; margin-top:30px;
}
.bbb_viewed_next1 {
    position: absolute;
    right: 47%!important;
    top: 100%!important; margin-top:30px;
}
.footer-section i {
font-size: 22px;}
.mob-5 {
    margin-top: 30px;
}
.mb-50 {
    margin-bottom: 20px;
}
.footer-section ul li a {
    font-size: 14px;
    line-height: 30px;
   
}
.footer-section h4 {
    margin-bottom: 5px;
    font-size: 22px;
   
}
.footer-copyright {
    color: #DDDAD7;
    background: #403D39;
    font-size: 14px;
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}
.w-50-1{width:49%; float:left;}
.footer-section h6 {
font-size: 16px;}
.mb-20 {
    margin-bottom: 0;
}
.footer-section h3 {
   height:70px;
font-size: 21px;}

.w-30{width: 41.66666667%;
}
.w-10{width: 16.66666667%;}
.footer-section a {
  font-size: 24px;}
.white-section p {
    color: #000;
    font-size: 21px;
    font-weight: 500;
line-height: 29px;}
   
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */
@media only screen and (device-width: 768px) {
	
	/****/
	.mob-img {
    width: 40px;
}
.mob-plr{padding:0;}
	.bbb_viewed_next1 {
    position: absolute;
    right: 47%;
    top: 100%;
    margin-top: 35px;
}
	.ipad-col-4{width:50%;}
	.package-cover-section{padding:30px 0 30px!important}
	.static-slider4 {
    padding-bottom: 40px;
}
	.package-cover-section .btn{margin-top:0;}
	  .ipad-col-4{flex: 0 0 33.33%;
    max-width: 33.33%;}
	  /****/
	  .dropp {
    margin: 0 auto 20px auto!important;
}
.padding-lr {
    padding: 0!important;
    text-align: left!important;
}
.ipad-clear{clear:both;}  }
   /* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
	  .mob-img {
    width: 40px;
}
	   .ipad-landscape-w{flex: 100%;
    max-width: 100%;}
	  .package-cover-section{padding:30px 0 30px!important}
	  .package-cover-section .btn{margin-top:0;}
.ipad-clear{
float:right; margin-left:60px;}
.navbar-brand {
   width:21%;
}

.btn-brand{width:7%;}

.ipad-land-none{display:none;}
.pr-10 {
    padding-right: 0px;
}
  }
  /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	  .package-heading {
    font-size: 13px;
    line-height: 22px;
}
.package-details {
    margin: 0px 0;
    padding: 5px 0px 5px 0px;
    overflow-x: hidden;
}

.package-details .table td, .table th, .table thead th {
    border: 0;
    padding-left: 8px;
}
.footer-section h3 {
    height: auto!important;
    color: #EB5E28;
    font-size: 21px!important;
    margin-bottom: 20px!important;
  }
  .footer-section a {
    color: #413E3A;
    font-size: 23px!important;
}
.total {
    color: #E76230!important;
    font-size: 20px!important;
}
.contact-page h3 {
    color: #000;
	  font-size: 20px;}
	  .contact-page h1 {
    font-weight: 700;
    line-height: 22px;
	  font-size: 24px;}
  }

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	  

}