body {
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 27px;
	color: #808294;
	-webkit-font-smoothing: antialiased;
	background: #fff;
	overflow-x:hidden;
}
.body-bg {
	background-color: #fbfbfc;
}

.pr-10{padding-right:10px;}
.pl-10{padding-left:10px;}

p {
	margin: 0px 0px 24px 0px;
}
p:last-child {
	margin: 0px;
}
a {
	color: #EB5E28;
}
a:hover {
	color: #202db8;
	text-decoration: none;
}
a:active, a:hover {
	outline: 0;
	text-decoration: none;
}

a.text-primary:focus, a.text-primary:hover {
	color: #202db8!important;
}
ol, ul {
}
ol li, ul li {
}
.lead {
	font-size: 21px;
	line-height: 32px;
	color: #181825;
}
.z-index-0 {
	z-index: 0;
}
::selection {
	background: rgba(255, 244, 147, .8);
	color: #272c30;
}
.btn {
	font-size: 14px;
	padding: 13px 21px;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
	transition: .3s ease;   text-transform:uppercase;
	
}
/*--- btn default --*/
.btn-brand {
	color: #fff;
	border:none;
	background: linear-gradient(180deg, #F16B37 0%, #C14413 100%);
box-shadow: 2px 6px 9px rgba(235, 94, 40, 0.5); margin-right:10px;
}
.btn-brand:hover {
	background: linear-gradient(180deg, #d75523 0%, #ac3c10 100%); color: #fff;
	
}
.btn-brand.focus, .btn-brand:focus {
	color: #fff;
	background-color: #08b072;
	border-color: #08b072;
	box-shadow: none;
}
/*----------------- 7. Headers ---------------------------------*/
.header-classic {
	background-color: #fff;
}
/* -------------------- Top Header --------------------*/
.top-header {
	background-color: #fff;
	font-size: 14px;
	color: #626582;
	line-height: 30px;
	border-bottom: 1px solid #f0f1f9;
	border-top: 3px solid #EB5E28;
	padding-bottom: 4px;
	padding-top: 4px;
}
.top-header ul {
	margin-bottom: 0px;
}
.top-header ul li {
	float: left;
	margin-left: 18px;
}
.top-header ul li a {
	color: #626582;
}
.top-header i {
	font-size: 10px;
}
.top-header-social {
}
.top-header-social i {
	font-size: 14px;
}
.top-header-social ul {
	margin-left: 10px;
}
.top-header-social ul li {
	float: left;
	margin-left: 8px;
}
.top-header-social ul li a {
	color: #9d9ea7;
}
.top-header-social ul li a:hover {
	color: #01d486;
}
/*--------------Navigations Css--------------*/

.navbar-classic {
}
.navbar-classic.navbar-light .navbar-nav .nav-link {
	color: #181825;

	padding: 12px 16px;
}
.navbar-classic .navbar-nav .nav-item {
}
.navbar-classic .navbar-nav .nav-item .nav-link {
	font-size: 14px; text-transform:uppercase;
    line-height: 35px; 
    font-weight: bold;
    opacity: 1;
    color: #000; 
	padding: 12px 10px;
	
	border-bottom: 1px solid #fff;
}
.navbar-classic .navbar-nav .nav-item .nav-link:hover {
	color: #EB5E28;
}
.navbar-classic .navbar-nav .nav-item .nav-link:hover.dropdown-toggle::after {
	color: #EB5E28;
}
.navbar-classic.navbar {
	padding: 18px 0px;
}
.navbar-classic .dropdown-toggle::after {
	margin-top: 1px;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 6px;
	vertical-align: -2px;
	content: "\f107";
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	color: #000;
	font-family: "FontAwesome";
	font-weight: 900;
	margin-right: 15px;
	font-size: 13px;
	float: right;
}
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-item {
	border-bottom: 1px solid #f1f1f6;
	border-radius: 0px;
}
.navbar-brand {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 2px;
	margin-right: initial;
	line-height: inherit;
	white-space: nowrap;
	color:#000;
	font-size:24px;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 16rem;
	padding: 12px;
	margin: 18px 0px;
	font-size: 1rem;
	color: #808294;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 2px;
	-webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
	box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
}
.dropdown-item {
	display: block;
	width: 100%;
	padding: 15px 15px;
	clear: both;
	font-weight: 400;
	color: #000; 
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	font-size: 15px;
	line-height: 15px;
	border-bottom:1px solid transparent!important;
}
.dropdown-item:focus, .dropdown-item:hover {
	color: #EB5E28!important; background-color: transparent!important;
	text-decoration: none;
	border-bottom: 1px solid #EB5E28!important;
	
}
.dropdown-item:focus .dropdown-toggle::after, .dropdown-item:hover.dropdown-toggle::after {
	color: #4955ef;
}
@media(min-width:992px) {
	.dropdown .dropdown-menu {
		display: block;
		visibility: hidden;
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
		-webkit-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		transition: all .3s ease-in 
}
	.dropdown:hover>.dropdown-menu {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;
	}
	.dropdown-submenu:hover .dropdown-menu {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;
	}
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 17px;
	top: 25px;
}
.dropdown-submenu .dropdown-menu {
	top: 0px;
	left: 100%;
	margin-left: 13px;
	margin-right: .1rem;
}
.caret-up {
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid;
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
}
.mega-dropdown {
	position: unset;
}
.mega-dropdown-menu {
	width: 100%;
	position: absolute;
	top: 80%;
	margin: 15px 0px;
}
.mega-dropdown-menu ul {
	list-style: none;
}
.nav-dropitem-arrow {
	position: relative;
	font-size: 12px;
	opacity: 0;
	padding-right: 10px;
}
.nav-dropitem-arrow i {
	position: absolute;
	/* top: -1px;
	*/
}
.dropdown-item:focus, .dropdown-item:hover {
	color: #EB5E28;
	text-decoration: none;
	background-color: #eeeffd;
	border-radius: 4px;
}
.dropdown-item:hover .nav-dropitem-arrow {
	color: #4955ef;
	opacity: 1;
	margin-right: 5px;
}
.navbar-classic .navbar-toggler, .navbar-boxed .navbar-toggler {
	padding: 17px 15px;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid #eaeaf0;
	border-radius: .25rem;
	position: relative;
}
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
    background-color: #EB5E28!important;
}
/* mobile menu css */
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu {
	background: #fff;
	box-shadow: none;
	margin: 7px 0px;
}
.navbar-classic .navbar-collapse.show .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #f1f1f6;
}
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6;
}
.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu {
	background: #fff;
	box-shadow: none;
	margin: 7px 0px;
}
.navbar-boxed .navbar-collapse.show .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #f1f1f6;
}
.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6;
}
.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu {
	background: #fff;
	box-shadow: none;
	margin: 7px 0px;
}
.navbar-transparent .navbar-collapse.show .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #495bfb;
}
.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6;
}
.icon-bar {
	width: 21px;
	height: 3px;
	background-color: #EB5E28;
	display: block;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	margin-top: 4px 
}
.navbar-toggler:focus {
	outline: 0px;
}
.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 190%;
	background-color: #EB5E28;
}
.navbar-toggler .middle-bar {
	opacity: 0;
}
.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% -80%;
	background-color: #EB5E28;
}
.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
	background-color: #EB5E28;
}
.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
	background-color: #EB5E28;
}
.main-heading {
    color: #EB5E28;
    padding: 11px 15px!important;
    font-weight: 700;
    font-size: 14px; 

}
/**banner text**/
 

.static-slider4 h1,
.static-slider4 h2,
.static-slider4 h3,
.static-slider4 h4,
.static-slider4 h5,
.static-slider4 h6 {
  color: #3e4555;
}

.static-slider4 h4 {
	font-size: 21px;
}

.static-slider4 a {
	text-decoration: none;
}

.static-slider4 .font-weight-medium {
  font-weight: 500;
}

.static-slider4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.static-slider4 h1 {
  font-weight: 700;
  line-height: 44px;
	font-size: 40px; color:#403D39; margin-bottom:30px;
}
.static-slider4 p{font-size:20px; color:#000; line-height:28px; font-weight:600;}
.static-slider4 h1 span {
  border-bottom: 3px solid #188ef4;
}

.static-slider4 .info-box {
  padding: 25px 15px;
}


.static-slider4 .btn-md {
	color: #fff;
	border:none;
	background: linear-gradient(180deg, #F16B37 0%, #C14413 100%);
box-shadow: 2px 6px 9px rgba(235, 94, 40, 0.5); margin-right:10px;
  padding: 15px 45px;
}
.static-slider4 .btn-md:hover {
	background: linear-gradient(180deg, #d75523 0%, #ac3c10 100%); color: #fff;
	
}
.static-slider4{padding-bottom:70px;}
/*animation*/
@-webkit-keyframes fadeInRight {
            0% {
               opacity: 0;
               -webkit-transform: translateX(70px);
            }
            100% {
               opacity: 1;
               -webkit-transform: translateX(0);
            }
         }
         @keyframes fadeInRight {
            0% {
               opacity: 0;
               transform: translateX(70px);
            }
            100% {
               opacity: 1;
               transform: translateX(0);
            }
         }

         .fadeInRight {
            -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight;
         }

/** fadeInLeft **/

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.mt-8{margin-top:8%;}
.plr{padding:0 40px;}


/*carousel*/
.carousel {	
	margin: 0 auto;
	padding: 0 68px;
}
.carousel .carousel-item {
	text-align: center;
	overflow: hidden;
	
}
.carousel .carousel-item .img-box {
	background: #fff;
	padding: 9px;
	box-shadow: 0 6px 20px -6px rgba(0,0,0,0.4);
}
.carousel .carousel-item img {
	margin: 0 auto;
}
.carousel-control-prev, .carousel-control-next {
	width: 68px;
	background: none;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 58px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin-top: -15px;
	z-index: 5;
	left: 0;
	right: 0;
	color: #E76230;
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	border: none;
	border-radius: 50%;
	margin: 1px 4px;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
}
.carousel-indicators li.active {
	background: #555;
}
.price-section {
    background: url(../images/background/price-section.jpg)#fff no-repeat left center;
    padding: 100px 0;
}

.block {
    display: inline-block;
    position: relative;
    width: 100%;
   
    border-radius: 30px;
    color: rgba(0, 0, 0, 0.87);
    background: #FFFCF2;
   
	padding: 30px 20px 30px!important;  line-height:31px;
}
.block-pricing .table {
    
    margin-bottom: 0px;
}
.block .category:not([class*="text-"]) {
    color: #3C4857;
}
.block-pricing .block-caption {
    margin-top: 30px;
    font-size: 30px;
    letter-spacing: 0;
}
.block-pricing h1 small:first-child {
    position: relative;
    top: -17px;
    font-size: 26px;
}
.block-pricing ul {
    list-style: none;
    padding: 0; height:120px;
   
}
.search-ul{height:120px;}
.block-pricing ul li {
    color: #CCC5B9;
    text-align:left!important;
    padding: 4px 17px; font-weight:500; line-height:28px;
    position:relative;
	font-size:16px; 
	 display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.block-pricing li:before {
    content: '.';
    font-size: 32px;
    font-weight: 700;
    color: #EA5F29;
    position: absolute;
    top: -5px;
    left: 0;
}
.block-caption {text-align:center; color:#E76230!important; font-size:36px; margin-bottom:15px; margin-top:25px!important; margin-bottom:30px!important;}
.btn.btn-round {
    border-radius: 30px;
	 color: #FFFFFF;
    background-color: #403D39;
    width:100%;
	font-size:14px; padding:17px 20px; font-weight:700;
    border:none; text-align:center;
}
.btn.btn-round:hover {background-color:#E76230!important; border-color:transparent!important;}
.category {height:65px; display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin-bottom:20px; text-align:left; font-size:24px; color:#403D39!important; font-weight:700; line-height:33px;}
.category1 {height:65px; display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin-bottom:20px; text-align:left; font-size:24px; color:#403D39!important; font-weight:700; line-height:33px;}

.black-section{padding:80px 0 30px; background: #403D39;}


.icon {
  display: block;
  position: relative;
  width: 1.5em; font-size:11px;
  height: 1.5em; 
  margin: 0 auto; 
}

.icon:before,
.icon:after {
  content: "";
  position: absolute;
}

.dropp {
  
    margin: 0 auto 70px auto;
}

.dropp-header {
  background: #FFFCF2;
box-shadow: 4px 16px 31px -10px rgba(20, 40, 50, 0.3);
border-radius: 10px; font-size:16px;
  color: #3A3837;
  border:none;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start; 
}

.dropp-header__title {
  display: block;
  padding: 0.8em 20px;
  -webkit-box-flex: 8;
  -moz-box-flex: 8;
  box-flex: 8;
  -webkit-flex: 8;
  -moz-flex: 8;
  -ms-flex: 8;
  flex: 8;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.form-search{margin: 0 auto 70px auto;}
.dropp-header__btn {
  display: block;
 

  color: #231F20;
  padding:18px 19px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropp-header__btn .icon {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.dropp-header__btn .icon:before,
.dropp-header__btn .icon:after {
  top: 30%;
  left: 25%;
  width: 50%;
  height: 15%;
  background: #231F20;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
 
}

.dropp-header__btn .icon:after {
  top: 55%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}



.dropp-header__btn.js-open .icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.dropp-header__btn.js-open .icon:before,
.dropp-header__btn.js-open .icon:after { background: #231F20; }

.dropp-header__btn:focus { outline: none; }

.dropp-body {
  overflow: hidden;
  width: 100%;
  max-height: 0;
  background: #FFFCF2;
 border-radius:10px; box-shadow:4px 16px 31px -10px rgba(20, 40, 50, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropp-body.js-open { max-height: 20em; }

.dropp-body label {
  display: block;
  font-size: 16px;
  color: #3A3837;
  text-decoration: none;
  padding: 12px 20px;
  font-weight: 400;
  box-shadow: 0 -1px 0 transparent, inset 0 1px 0 #eee; 
  cursor: pointer; margin:0; border-bottom:1px solid transparent;
}
.li-icon{float:right;}
.dropp-body label:first-child {}

.dropp-body label:hover,
.dropp-body label.js-open { border-bottom:1px solid #E76230; color:#3A3837}

.dropp-body label > input { display: none; }
.sb-icon-search {
    color: #fff;
    background: #E76230;
    z-index: 90;
    font-size: 32px;
    border-radius:10px;  font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;   padding:14px;
    -webkit-font-smoothing: antialiased;
	display: block;
   
    margin: 0;
 
    text-align: center;
    cursor: pointer;
}

.sb-icon-search:before {
    content: "\f002";
}
.sb-icon-search1 {
    color: #fff;
    background: #E76230!important;
    z-index: 90;
    font-size: 32px;
    /* height: 50%; */
    padding: 2px 20px;
    border-radius: 10px;
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    display: block;
    /* line-height: 30px; */
    margin: 0; 
    border: 0;
    text-align: center;
    cursor: pointer;
  
}
.mb-70{margin-bottom:70px}
.sb-icon-search1:before {
    content: "\f002";
}
select.form-control:not([size]):not([multiple]) {
    background: #FFFCF2;
    box-shadow: 4px 16px 31px -10px rgba(20, 40, 50, 0.3);
    border-radius: 10px;
    font-size: 16px;
    color: #3A3837;
    border: none;
    height: 95%;
    border: none;
    padding: 16px 20px; text-align:center;
}
.margin-auto{margin:0 auto;}
.dropp-header1 {
    background: #FFFCF2;
    box-shadow: 4px 16px 31px -10px rgba(20, 40, 50, 0.3);
    border-radius: 10px;
    font-size: 16px;
    color: #3A3837;
    border: none;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;  
    border: none;
    padding: 26px 20px; text-align:left;
}
.form-search input{background: #FFFCF2;
    box-shadow: 4px 16px 31px -10px rgba(20, 40, 50, 0.3);
    border-radius: 10px!important;
    font-size: 16px;
    color: #3A3837; padding:0.8em 20px; width:100%; border:none!important;}
.price-section h1{letter-spacing:2px; color:#403D39; font-size:36px; font-weight:800; text-align:center; margin-bottom:50px;}
.ml-4{margin-left:4.166%!important;}
.black-section h1{font-size:36px; font-weight:600; color:#fff; margin-bottom:60px; text-align:center;}
.white-section {
    padding: 80px 0;
    background: #fff;
}
.white-section h1 {color:#263238; font-size:36px; margin-bottom:15px; font-weight:bold; }
.white-section p {color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    padding-right: 100px;}
.white-section .btn{background:#E76230; box-shadow: 2px 6px 9px rgba(242, 129, 95, 0.5); padding:15px 45px; color:#fff;	border-radius:10px; border:none;}
.padding-lr{padding: 60px 60px 0;}
.white-section .btn:hover{background:#d05324}

.btn-floating .fa-caret-left{    font-size: 58px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -15px;
    z-index: 5;
    left: 0;
    right: 0;
    color: #E76230;
    }
	.btn-floating .fa-caret-right{    font-size: 58px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -15px;
    z-index: 5;
   
    right: 0;
    color: #E76230;
    }


 

 

 .bbb_viewed_nav {
     display: inline-block;
     cursor: pointer
 }

 .bbb_viewed_nav i {
     color: #dadada;
     font-size: 18px;
     padding: 5px;
     -webkit-transition: all 200ms ease;
     -moz-transition: all 200ms ease;
     -ms-transition: all 200ms ease;
     -o-transition: all 200ms ease;
     transition: all 200ms ease
 }

 .bbb_viewed_nav:hover i,  .bbb_viewed_nav i.active  {
     color: #FF5722
 }

 .bbb_viewed_prev {
    position: absolute;
    left: -25px;
    top: 50%;
 }
.bbb_viewed_next {
    position: absolute;
    right: -25px;
    top: 50%;
 }
 
.bbb_viewed_prev1 {
    position: absolute;
    left: 50%;
    top: 100%; margin-top:35px;
 }
.bbb_viewed_next1 {
    position: absolute;
    right: 50%;
    top: 100%; margin-top:35px; 
 }
 .bbb_viewed_prev1 i, .bbb_viewed_next1 i{font-size:12px;}
 
 .shadow-box{box-shadow: 3px 6px 23px rgba(0, 0, 0, 0.5);
    background: #FFFCF2;
    border-radius: 15px;
    padding: 30px 30px 30px;
    height: 141px;
    width: 141px; margin:0 auto;}

/*footer*/
.footer-section {

    background: url(../images/background/footer-image.png)#fff no-repeat left center;
	padding:60px 0 0;
}

.footer-section ul {

    margin-top: 0.5em;
    padding: 0;

}
 .footer-section h4{color:#FF5722; margin-bottom:15px; font-size:24px; font-weight:bold;}
.footer-section  ul li {
  list-style-type:none;
  margin:0;
 }
.footer-section  ul li a {
  color: #403D39;

text-transform: uppercase;

font-size: 16px;

line-height: 34px; font-weight: bold;

 }
 .footer-section p {

    color: #403D39; font-size:16px;
    font-weight: bold; margin-bottom:15px;

}
.footer-section a{color:#413E3A; font-size:27px; font-weight:700; }
.mb-20{margin-bottom:15px;}
.footer-section h3{height:60px; color:#EB5E28; font-size:24px; text-transform:uppercase; font-weight:700;
margin-bottom:40px; line-height:30px;}
.footer-section h6{font-size:19px; font-weight:700; color:#413E3A; text-transform:uppercase;}
.mb-50{margin-bottom:50px;}
.footer-section  ul li a:hover{color:#10b4f0}

.footer-section p a {

    color: #10b4f0;
    text-decoration: none;
    font-size: 16px;  font-weight: bold;

    line-height: 36px;

}
.footer-section i{font-size:32px; color:#EB5E28; font-weight: bold;
float: left;
    line-height: 34px; padding-right:15px; text-align:left;}
 .socialicon ul {

    list-style: none;
    padding: 0;

}
 .socialicon ul li{float:left;}
 .socialicon ul li a{
    line-height: 30px;

margin:0; 

text-align: center;

cursor: pointer;



transition: all 0.5s ease;

 
}
.socialicon ul li a i{background: #3A3837;
    text-align: center;
    padding: 2px 12px; width:45px;
    color: #fff;
    font-size: 22px; margin-right:5px;}
	.socialicon ul li a i:hover{background: #FF5722;}
.socialicon ul li a:hover{
    opacity:0.5;
}

.footer-copyright {

    color: #DDDAD7; background:#403D39;
    font-size: 16px;
    text-align: left;
    margin-top: 25px;
    font-weight: bold;
  
    padding-top: 25px; padding-bottom:25px;

}
.ml-md-4, .mx-md-4 {

    margin-left: 16px !important;

}
.black-section1 {
    padding: 80px 0;
    background: #403D39;
}
.carousel-indicators1 {
	bottom: -40px;
}

.carousel-indicators1 li, .carousel-indicators1 li.active {
	width: 12px;
	height: 12px;
	margin: 1px 3px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators1 li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators1 li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}	
.svg {
  filter:transparent;
}
.owl-item h2{color:#FF5722; text-align:center; font-size:24px; font-weight:bold; margin-top:35px; margin-bottom:20px;}
.owl-item p{color:#FFFCF2; font-size:11px; text-align:center; line-height:15px; font-weight:bold; text-transform:capitalize;}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.price-section form{width:100%;}
.pb-0{padding-bottom:0!important;}

/*contact page css*/
.contact-page {
    padding-bottom: 70px;
}
.contact-page h1 {
    font-weight: 700;
    line-height: 45px;
    font-size: 36px;
    color: #242422;
}
.contact-page h3{color:#000; font-size:25px; line-height:31px; font-weight:700;}
.margin-5{margin:60px 0;}
.contact-page p{font-size:15px; color:#000; line-height:19px; font-weight:700;}
.contact-page input, textarea.form-control, #customerBookDTPicker input{background:#FFFCF2!important; border-radius:8px; border:1px solid #eae3cd; margin-bottom:25px; height:63px;}
/*.contact-page label{font-size:21px; color:#000; line-height:31px; font-weight:700;}*/
.contact-page label {
    font-size: 21px;
    color: #000;
    line-height: 65px;
    font-weight: 700;
    
}
.contact-page .btn {
    background: #E95E29!important;
    padding: 15px 35px;
    color: #fff;
    font-size: 21px;
    line-height: 30px;
    border: 0;
    text-transform: capitalize;
    font-weight: 600; margin-top:-100px;
}
.contact-page .btn:hover {
background: #000!important;}
.contact-page .submitbtn{
    background: #E95E29;
    padding: 15px 35px;
    color: #fff;
    font-size: 21px;
    line-height: 30px;
    border: 0;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 20px;
    float: right;
}
.contact-page .submitbtn:hover {
background: #000;}
.contact-page .mb-3{margin-bottom:30px!important;}
.contact-page .form-group{clear:both;}
/*Package details page*/
.package-details{margin:30px 0; background:#FFFCF2; border-radius:20px; padding:25px 10px 25px 60px;}
.total{
    color: #E76230!important;
    font-size: 30px!important; font-weight:700;
    margin-bottom: 15px;
    margin-top: 25px!important;}
.package-heading{color:#CAC3B7; font-size:18px; font-weight:700; line-height:36px;}
.package-details td{color:#000; font-size:21px; font-weight:700; text-transform:uppercase}
.package-details .table td, .table th, .table thead th{border:0;}
.p-0 {
    padding: 0;
}
.clearfix{clear:both;}
.list li{
   color:#403D39;
 text-align: left!important;
    padding: 4px 17px;
    font-weight: 600;
    line-height: 32px;
    position: relative;
    font-size: 18px; list-style-type:none;
}

.list li:before {
    content: '.';
    font-size: 32px;
    font-weight: 700;
    color: #EA5F29;
    position: absolute;
    top: -5px;
    left: 0;
}
/*package box width*/
.owl-carousel, .owl-carousel .owl-item {
   width: 100%;
}
.btn-round1 {
    border-radius: 30px;
	 color: #FFFFFF!important;
    background-color: #403D39;
    width:100%;
	font-size:14px; padding:17px 20px; font-weight:700;
    border:none; text-align:center; 
    margin-bottom: 10px!important; 
}
.btn-round1:hover {background-color:#E76230!important; border-color:transparent!important;}
.h2-tranform{line-height:40px; color:#403D39; font-weight:500; text-transform:uppercase;}
.h3-tranform{color:#403D39; font-weight:700; text-transform:uppercase; margin:30px 0;}
.package-cover-section{background:#fff; padding-top:0;}
.package-cover-section h4{color: #403D39; font-weight: 700; font-size:21px;}
.package-cover-section h1 {
    color: #263238;
    font-size: 36px;
    margin-bottom: 45px; 
    font-weight: bold;
}

.div-center {
	margin: auto; width:90%; background:#FFFCF2; padding:35px 35px 20px;
border-radius: 20px;
}
.div-center1 {
	margin: auto; width:90%;
}
.listA{margin-top:60px;}
.listA li{
   color: #403D39;
    text-align: left!important;
    padding: 4px 29px;
    font-weight: 600;
    line-height: 48px;
    position: relative;
    font-size: 18px;
    list-style-type: none;
}

.listA li:before {
    content: '\f13a';
    font-size: 18px;
    font-family: 'FontAwesome';
    font-weight: 700;
    color: #EA5F29;
    position: absolute;
    top: 5px;
    left: 0;
}
.textleft{text-align:left!important;}
.f-r {font-size:21px; color:#EB5E28}
.package-cover-section .btn{
    background: #E95E29!important;
    padding: 15px 35px;
    color: #fff;
    font-size: 21px;
    line-height: 30px;
    border: 0;
    text-transform: capitalize;
    font-weight: 600; margin-top:-100px;
}
.package-cover-section .btn:hover {
background: #000!important;}
svg {
  fill: transparent!important;
}